python-dotenv==1.0.0
PyAudio==0.2.13
pydub==0.25.1
numpy==1.26.0
opencv-python==4.8.1.78
protobuf==5.29.5
scikit-learn
mediapipe
joblib==1.2.0
mord==0.7
torch
git+https://github.com/MekhyW/EmoTiny.git
livekit>=1.0.0
git+https://github.com/MekhyW/agents.git#subdirectory=livekit-agents
livekit-plugins-openai
livekit-plugins-turn-detector
livekit-plugins-silero
livekit-plugins-elevenlabs
livekit-plugins-deepgram
livekit-plugins-noise-cancellation>=0.2.5
elevenlabs
cryptography
telepota==1.0
psutil==7.0
pycaw>=20240210
pyserial==3.5
paho-mqtt==1.6.1